[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
smelli = "*"
requests = "*"
rise = "*"
matplotlib = "*"
jupyter = "*"
pandas = "*"

[requires]
python_version = "3.8"
